@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

.categories {
  margin-bottom: 12px;
}

.products span {
  font-size: 14px;
}

input {
  margin-bottom: 16px;
}

/* Button */

.btn {
  border-radius: 6px;
  border-width: 0;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  height: 26px;
  margin: 12px 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  text-align: center;
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.btn-del {
  background-color: #ee1616;
}

.btn-del:hover {
  background-color: #ee6969;
}

.btn-add {
  background-color: #405cf5;
}

.btn-add:hover {
  background-color: #697dee;
}

.btn-close {
  background-color: #ee1616;
  margin: 0;
  padding: 0 12px;
}

.btn-close:hover {
  background-color: #ee6969;
}

.firms {
  margin-bottom: 16px;
}

/* Table */

table {
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid #dddddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

.TopLink {
  font-family: "Montserrat", sans-serif;
  color: black;
  flex-grow: 2;
  font-size: medium;
  font-weight: 550;
}

.TopLink:hover {
  color: white;
}

.UserNameLink {
  font-family: "Montserrat", sans-serif;
  color: black;
  flex-grow: 2;
  font-size: large;
  font-weight: 600;
  margin-top: 20px;
  padding-bottom: 30px;
  text-transform: uppercase;
}

.UserNameLink:hover {
  color: #deb887;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

.Order {
  font-family: "Montserrat", sans-serif;
  border-radius: 20px;
  background-color: white;
  padding: 15px 35px 15px 35px;
  border: black 2px solid;
}

.AcoountButton {
  margin-top: 50px;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  text-align: left;
  font-size: 16px;
  font-weight: 450;
  cursor: pointer;
}

.AcoountButton:hover {
  color: #deb887;
}

.AccountInput {
  font-family: "Montserrat", sans-serif;
  border-width: 0px 0px 1.5px 0px;
  padding: 10px 0px;
  border-color: rgb(206, 206, 206);
}

.AccountInput:focus {
  outline: none;
  border-color: black;
}

.AccountLabel {
  font-size: 18px;
  margin-top: 10px;
}
